<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="A04573FB-B7BE-4683-A926-8F323D24D590" Publisher="" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WIS</DisplayName>
    <PublisherDisplayName>waveengine</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>WIS Launcher</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Launcher.App">
      <VisualElements DisplayName="WIS" Logo="Images\Logo.png" SmallLogo="Images\SmallLogo.png" Description="WIS Launcher" ForegroundText="dark" BackgroundColor="#ebebeb">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Images\SplashScreen.png" BackgroundColor="#ebebeb"/>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <!--<Capability Name="internetClient" />-->
  </Capabilities>
</Package>
